//Colors
$primary: #08a6e4;
$secondary: #fb3b64;
$tertiary: #55dfb4;

$background: #fff;
$background-variant: #f2f2f2;
$surface: #fff;

$on-primary: #fff;
$on-secondary: #fff;
$on-tertiary: #fff;
$on-background: #000;
$on-surface: #000;
$on-surface-secondary: #a5a5a5;

$box-shadow-header: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
$box-shadow-footer: rgba(0, 0, 0, 0.1) 0px -50px 36px -28px inset;
$box-shadow-btn-primary: 0 0 5px 5px #07ace629;

