.contact {
  margin-top: $space-section;
  padding-bottom: $space-section;
  background-color: $background;
  box-shadow: $box-shadow-footer ;
  &__info {
    margin-bottom: $space-lg;
    background-color: $surface;
  }
  &__title {
    font-size: $font-size-h1-mobile;
    margin-bottom: $space-sm;
    line-height: 2rem;
    @include laptop {
      font-size: $font-size-h1;
    }
  }
  &__description {
    margin-bottom: $space-md;
    background-color: $surface;
  }
  &__item {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: $space-s;
    &--email {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../../assets/Mail Icon.svg");
        background-repeat: no-repeat;
        height: 22px;
        width: 2rem;
        margin-right: 5px;
      }
    }
    &--phone {
      &::before {
        content: "";
        display: inline-block;
        background-image: url("../../assets/Phone Icon.svg");
        background-repeat: no-repeat;
        height: 24px;
        width: 2rem;
        margin-right: 5px;
      }
    }
  }
  &__email {
    color: $on-surface-secondary;
  }
  &__phone {
    color: $on-surface-secondary;
  }
  &__label {
    display: block;
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: $space-letter-small;
    font-size: $font-size-xs;
  }
  &__input {
    display: block;
    width: 100%;
    border: 0;
    padding: $space-xs;
    border-bottom: 1px solid $on-background;
    margin-bottom: $space-lg;
    &:focus {
      border-bottom: 3px solid $primary;
    }
  }
}

.contact{
  &__hidedInput{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked + .contact__checkbox{
      background-image: url('../../assets/Checkmark.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    &:focus + .contact__checkbox{
      box-shadow: $box-shadow-btn-primary;
    }
  }
}
  

.contact {
  &__label {
    &--policy {
      cursor: pointer;
      display: flex;
    }
  }
  &__checkbox {
    height: 25px;
    flex-shrink: 0;
    flex-basis: 25px;
    border: 1px solid $on-surface-secondary;
    cursor: pointer;
    margin-right: 15px;
    border-radius: $radius-xs;
  }
}
