@use "sass:color";

.footer {
  background-color: $background-variant;
  display: flex;
  align-items: center;
  height: 100px;
  &__company {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__copyright {
    font-size: $font-size-xxs;
    color: $on-surface-secondary;
    line-height: 100%;
    margin-top: $space-xs;
  }
  &__icon {
    padding-left: $space-s;
  }
}
