//Fonts
$font-heading: "Raleway", sans-serif;
$font-family-base: "Open Sans", sans-serif;

$text-base-size: 16px;

$thin: 300;
$regular: 400;
$bold: 700;
$extrabold: 800;

$font-size-h1: 3.0625rem;
$font-size-h1-mobile: 2.25rem;
$font-size-h2: 2.25rem;
$font-size-h2-mobile: 1.875rem;
$font-size-h3: 1.875rem;
$font-size-subtitle: 1.5rem;
$font-size-nav-elem: 0.875rem;
$font-size-nav-elem-mobile: 0.6875rem;
$font-size-s-mobile: 1.275rem;
$font-size-xs: 0.875rem;
$font-size-xxs: 0.675rem;
